<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="ratio" style="aspect-ratio: 16 / 9; width: 90%; max-width: 1400px; height: auto;">
        <iframe 
            title="Como Vamos Call Center" 
            src="https://app.powerbi.com/view?r=eyJrIjoiMTFmY2Q0YjYtM2UzNS00YzFkLWFiOTctYTU5M2EyNjc4ZGIxIiwidCI6IjljMzIyMjJlLWJjMjQtNDllZS1iMjM5LTA5Y2U3NjE5YWUzOCJ9" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </div>
</div>
