<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Documento</label>
                            <input type="text" class="form-control" formControlName="document">  
                        </div>
                        <div class="col-sm-4">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Password</label>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Confirmar Password</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>