.unauthorized-container {
    text-align: center;
    margin-top: 100px;
}

.unauthorized-container h1 {
    font-size: 3rem;
    color: #dc3545;
}

.unauthorized-container p {
    font-size: 1.2rem;
    margin-top: 10px;
}
  