<!-- Si el usuario está autenticado -->
<ng-container *ngIf="isLoggedIn">
    <div class="wrapper">
        <app-topnav></app-topnav>
        <app-sidenav></app-sidenav>
        <div class="content-wrapper">
            <section class="content">
                <div class="content-fluid"><br>
                    <router-outlet></router-outlet>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>  
</ng-container>

<!-- Si el usuario NO está autenticado (solo muestra login) -->
<ng-container *ngIf="!isLoggedIn">
    <router-outlet></router-outlet>
</ng-container>